<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>action</key>
		<dict>
			<key>path</key>
			<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/sSpaceUnderscore.js</string>
			<key>type</key>
			<string>js</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>sSpaceUnderscore</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>name</key>
			<string>pasteAsPlainText:</string>
			<key>type</key>
			<string>builtin</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>Paste as Plain Text</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>name</key>
			<string>pasteAsFilePath:</string>
			<key>type</key>
			<string>builtin</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>Paste as File Path</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>path</key>
			<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/safeFilename.js</string>
			<key>type</key>
			<string>js</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>safeFilename</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>path</key>
			<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/unwrapNewlines.js</string>
			<key>type</key>
			<string>js</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>unwrapNewlines</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>path</key>
			<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/wrapInJiraNoformatTags.js</string>
			<key>type</key>
			<string>js</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>wrapInJiraNoformatTags</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>path</key>
			<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/appendDate.js</string>
			<key>type</key>
			<string>js</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>appendDate</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>path</key>
			<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/replaceSlashWithDashAndLower.js</string>
			<key>type</key>
			<string>js</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>replaceSlashWithDashAndLower</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>path</key>
			<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Crypt/Decode from Base64.js</string>
			<key>type</key>
			<string>js</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>Decode from Base64</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>path</key>
			<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Crypt/Encode to Base64.js</string>
			<key>type</key>
			<string>js</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>Encode to Base64</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>path</key>
			<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Trim/Trim.js</string>
			<key>type</key>
			<string>js</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>Trim.js</string>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Case/Capitalize.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Capitalize.js</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Case/lowercase.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>lowercase.js</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Case/Title Case.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Title Case.js</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Case/UPPERCASE.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>UPPERCASE.js</string>
			</dict>
		</array>
		<key>isLeaf</key>
		<false/>
		<key>nodeTitle</key>
		<string>Case</string>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Trim/LTrim.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>LTrim.js</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Trim/RTrim.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>RTrim.js</string>
			</dict>
		</array>
		<key>isLeaf</key>
		<false/>
		<key>nodeTitle</key>
		<string>Trim</string>
	</dict>
	<dict>
		<key>action</key>
		<dict>
			<key>name</key>
			<string>remove:</string>
			<key>type</key>
			<string>builtin</string>
		</dict>
		<key>children</key>
		<array/>
		<key>isLeaf</key>
		<true/>
		<key>nodeTitle</key>
		<string>Remove</string>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/HTML/Convert Character to Decimal.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Convert Character to Decimal</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/HTML/Convert Decimal to Character.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Convert Decimal to Character</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/HTML/Convert Markdown to HTML.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Convert Markdown to HTML</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/HTML/Decode URI component.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Decode URI component</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/HTML/Encode URI component.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Encode URI component</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/HTML/Escape HTML characters.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Escape HTML characters</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/HTML/Strip Tags.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Strip Tags</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/HTML/Surround with Tags....js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Surround with Tags...</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/HTML/Unescape HTML characters.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Unescape HTML characters</string>
			</dict>
		</array>
		<key>isLeaf</key>
		<false/>
		<key>nodeTitle</key>
		<string>HTML</string>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Crypt/Calculate MD5 hash.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Calculate MD5 hash</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Crypt/Calculate SHA-1 hash.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Calculate SHA-1 hash</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Crypt/Decode from Base64.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Decode from Base64</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Applications/ClipMenu.app/Contents/Resources/script/action/Crypt/Encode to Base64.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>Encode to Base64</string>
			</dict>
		</array>
		<key>isLeaf</key>
		<false/>
		<key>nodeTitle</key>
		<string>Crypt</string>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/wrapBranchForPipDocviewer.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>wrapBranchForPipDocviewer</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/wrapBranchForPipSsc.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>wrapBranchForPipSsc</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/wrapBranchForPipViewerServices.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>wrapBranchForPipViewerServices</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/wrapBranchForPipBooks.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>wrapBranchForPipBooks</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/reverseLines.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>reverseLines</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/appendDate.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>appendDate</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/replaceSlashWithDashAndLower.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>replaceSlashWithDashAndLower</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/safeFilename.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>safeFilename</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/sSlashesDots.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>sSlashesDots</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/sSpaceUnderscore.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>sSpaceUnderscore</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/unwrapNewlines.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>unwrapNewlines</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/wrapInJiraNoformatTags.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>wrapInJiraNoformatTags</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/gitRemoteAddFromCloneUrl.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>gitRemoteAddFromCloneUrl</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/doc_viewerDevCdnUrl.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>doc_viewerDevCdnUrl</string>
			</dict>
			<dict>
				<key>action</key>
				<dict>
					<key>path</key>
					<string>/Users/patkujawa/Library/Application Support/ClipMenu/script/action/viewerDevCdnUrl.js</string>
					<key>type</key>
					<string>js</string>
				</dict>
				<key>children</key>
				<array/>
				<key>isLeaf</key>
				<true/>
				<key>nodeTitle</key>
				<string>viewerDevCdnUrl</string>
			</dict>
		</array>
		<key>isLeaf</key>
		<false/>
		<key>nodeTitle</key>
		<string>Mine</string>
	</dict>
</array>
</plist>
